name: Build

on:
  workflow_dispatch:
    inputs:
      target-ref:
        description: The branch, tag or SHA to checkout.
        type: string

  pull_request:
    branches:
      - 'main'
    paths:
      - '.github/workflows/build.yaml'
      - '.github/workflows/build-project.yaml'
      - '.nuke/**'
      - 'build/**'
      - 'dist/**'
      - 'src/**'
      - 'Aegir.sln'
      - 'run.*'
      - 'global.json'

env:
  ContinuousIntegrationBuild: true

jobs:
  target:
    runs-on: ubuntu-latest

    name: Set target ref

    outputs:
      target-ref: ${{ steps.ref.outputs.target-ref }}

    steps:
      - name: Set target ref
        id: ref
        run: |
          if [[ "true" == "${{ inputs.target-ref == '' }}" ]]; then
            ref="${{ github.ref }}"
          else
            ref="${{ inputs.target-ref }}"
          fi
          echo "Ref is $ref"
          echo "target-ref=$ref" >> "$GITHUB_OUTPUT"

  build:
    needs: target

    uses: ./.github/workflows/build-project.yaml
    with:
      target-ref: ${{ needs.target.outputs.target-ref }}
