name: Build

on:
  workflow_dispatch:
    inputs:
      target-ref:
        description: The branch, tag or SHA to checkout.
        type: string

  pull_request:
    branches:
      - 'main'
    paths:
      - '.github/workflows/build.yaml'
      - '.nuke/**'
      - 'build/**'
      - 'dist/**'
      - 'src/**'
      - 'Aegir.sln'
      - 'run.*'
      - 'global.json'

env:
  GAME_ID: 896660
  GAME_NAME: Valheim dedicated server
  ContinuousIntegrationBuild: true

jobs:
  target:
    name: Set target

    runs-on: ubuntu-latest

    outputs:
      target-ref: ${{ steps.ref.outputs.target-ref }}

    steps:
      - name: Setting target ref
        id: ref
        run: |
          if [[ "true" == "${{ inputs.target-ref == '' }}" ]]; then
            ref="${{ github.ref }}"
          else
            ref="${{ inputs.target-ref }}"
          fi
          echo "Ref is $ref"
          echo "target-ref=$ref" >> "$GITHUB_OUTPUT"

  build:
    needs: target

    runs-on: ubuntu-latest

    name: Build

    steps:
      - uses: actions/checkout@v6
        with:
          repository: 'blbrdv/Aegir'
          ref: ${{ needs.target.outputs.target-ref }}
          fetch-depth: 0

      - uses: actions/setup-dotnet@v5
        with:
          global-json-file: global.json

      - name: Restore build
        run: dotnet restore "build/_build.csproj"

      - name: Install SteamCMD
        id: steamcmd
        uses: CyberAndrii/setup-steamcmd@v1

      # Little hack to let Steam think that we own this game
      - name: Create Steam manifest file
        run: |
          mkdir -p "${{ steps.steamcmd.outputs.directory }}/steamapps/common/${{ env.GAME_NAME }}"
          manifest=$(cat <<-END
            "AppState"
            {
              "appid" "${{ env.GAME_ID }}"
              "Universe" "1"
              "installdir" "${{ env.GAME_NAME }}"
              "StateFlags" "6"
            }
          END
          )
          echo "Created dirs:"
          find "${{ steps.steamcmd.outputs.directory }}/steamapps/common"
          echo "$manifest" > ${{ steps.steamcmd.outputs.directory }}/steamapps/appmanifest_${{ env.GAME_ID }}.acf
          echo "Created manifest file:"
          cat "${{ steps.steamcmd.outputs.directory }}/steamapps/appmanifest_${{ env.GAME_ID }}.acf"

      - name: Download game
        id: download
        run: steamcmd +login anonymous +app_update ${{ env.GAME_ID }} validate +quit

      - name: Restore project
        run: ./run.sh restore

      - name: Build project
        run: ./run.sh compile --game-path "${{ steps.steamcmd.outputs.directory }}/steamapps/common/${{ env.GAME_NAME }}"

      - name: Upload build
        uses: actions/upload-artifact@v6
        with:
          name: plugin-${{ github.sha }}
          path: ${{ github.workspace }}/src/bin/Release/net46/Aegir.dll
          compression-level: 0
          retention-days: 1
          if-no-files-found: error
